.azauto-info-box {
    position: fixed;
    z-index: 10000;
    user-select: none;
    min-width: max-content;
    min-height: max-content;
    padding: 10px;
    cursor: move;
}
#azauto-info-box-container {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}
#azauto-info-title {
    font-weight: 500;
}